<section class="landings-page">
  <div class="wlc-msg">
    <h1>Budget App </h1>
  </div>
  <%= render partial: "shared/notice" %>
  <div class="landings-btns">
    <%= link_to new_user_session_path do %><button class="btn landings-login">LOG IN</button><% end %>
    <%= link_to new_user_registration_path do %><button class="btn landings-signup">SIGN UP</button><% end %>
  </div>
</section>
